.wrapper
  width: 80%
  padding: 5% 10%
  display: flex
  justify-content: center

.wrapper div
  display: flex
  justify-content: space-around
  align-items: center

.cdk-drag-animating
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1)

.cdk-drag-placeholder
  opacity: 0

.list.cdk-drop-list-dragging app-weather-card:not(.cdk-drag-placeholder)
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1)

