<div class="wrapper">
  <div
    class="list"
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="drop($event)"
    [cdkDropListData]="weathers">
    <app-weather-card
      *ngFor="let weather of weathers"
      cdkDrag
      (removeCity)="onRemoveCity($event)"
      [data]="weather">
    </app-weather-card>
  </div>
</div>
<div class="wrapper">
  <app-weather-city
    (addCity)="onAddCity($event)"
  ></app-weather-city>
  <button (click)="clearAll()">Clear</button>
</div>
