.card
  position: relative
  display: flex
  align-items: center
  flex-direction: column
  padding: 5px 15px
  width: 120px
  margin: 5px
  cursor: grabbing
  border-radius: 8px
  box-shadow: 0 0 5px black

.day
  background: rgb(205,230,255)
  background: linear-gradient(0deg, rgba(205,230,255,1) 0%, rgba(82,154,255,1) 100%)

.night
  background: rgb(115,141,193)
  background: linear-gradient(0deg, rgba(115,141,193,1) 0%, rgba(14,32,134,1) 100%)
  color: white

.remove
  position: absolute
  top: 10px
  right: 10px
  color: white
  cursor: pointer
