<div
  class="card"
  [ngClass]="{'day': data!.current.is_day, 'night': !data!.current.is_day }">
  <p> {{data!.location.name}} </p>
  <div>
    <img [src]="data!.current.condition.icon"  alt="icon"/>
  </div>
  <p> {{data!.current.temp_c}}° </p>
  <p> {{hour}} </p>
<div
  class="remove"
  (click)="remove()"
>x</div>
</div>
